@{
    ViewData["Title"] = "Home Page";
}

<script id="todo-item-template" type="text/x-handlebars-template">
    <div class="todo-item row" item-id="{{item-id}}">       
        <div class="todo-item-description col-sm-10 vertical-center">
            {{description}}
        </div>
        
        <a class="col-sm-1 todo-item-done vertical-center btn btn-success" item-id="{{item-id}}">
            <i class="fa fa-check" aria-hidden="true"></i>
        </a>

        <a class="col-sm-1 todo-item-delete vertical-center btn btn-danger" item-id="{{item-id}}">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
    </div>
</script>

<h2>To Do</h2>

<div class="wrapper">
    <div class="new-task">
        <textarea id="new-task-description"></textarea>
        <a class="btn btn-default new-task-add">Add</a>
    </div>

    <div id="todo-items">

    </div>
</div>